<html>
<!-- 
   Refresh each 5 seconds http://librelist.com/browser//flask/2013/2/10/autorefresh-in-flask/#d33445e2c92e0f3c802450f3d80402b7 
-->
<head>
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="refresh" content="{{refresh_rate}}">
</head>

<body>
    <table align="center" border=0 style="width:{{table_width}}px">
        {% for row in chart_src_rows %}
        <tr> 
           {% for chart_src in row %}
            <td text-align="center">
                <figure style="text-align:center">
                    <embed type="image/svg+xml" src="{{chart_src}}"/>
                </figure>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>