<html>
<!-- 
   Refresh each 5 seconds http://librelist.com/browser//flask/2013/2/10/autorefresh-in-flask/#d33445e2c92e0f3c802450f3d80402b7 
-->
<head>
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="refresh" content="{{refresh_rate}}">
</head>

<body>
    <!-- http://pygal.org/web/ -->
    <div align="center">
       <table border=1 style="width:1200px">
            <tr> 
                <td>
                <figure>
                    <!-- This 'src' path must be the same defined in Flask -->
                    <embed type="image/svg+xml" src="{{chart_src}}" width="600" />
                </figure>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>